.cont{
    padding: 10px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}
.gar{
    font-size: 20px;
    color: red;
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;

}
.gar1{
    font-size: 25px;
    color: red;
    margin-left: 18.5%;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.titres{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#BC2C2C;
    font-size: 20px;   
}
.labels{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}
.labels{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.lab{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
.infoDotted{
    border: 1.3px dotted black;
    padding:4px;
}

.infoStyles{
    border: 1.3px solid black;
    border-top-width: 0px;
    border-right-width: 0px;
    padding: 1.5px;
}
.infoStyles1{
    border: 1.3px solid black;
    border-top-width: 0px;
    padding: 1.5px;
}
#grad{
    width: 100%;
    padding: 15px;
    margin-top:3%;
    background-image: linear-gradient(to bottom right,#e0e0e0, #949494);
}
#desc{
    font-size: 10px;
}
#sig{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    height: 50px;
}
#sig1{
    width: 220px;
    padding: 5px;
    border: 2px solid red;
    align-items: center;
    height: 60px;

}
#call{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: red;
    text-align: center;
}

.flexts{
    display: flex;
    margin-top: 15px;
}
.flexts1{
    display: flex;
    margin-left: 30%;
    margin-bottom: 2%;
}